.components-platformPlus {
    margin: 0px;
    padding: 0px;
    width: 100% !important;
    height: 100% !important;

    .platformPlus-tabs {
        display: flex;
        margin: 20px 0;
        
        .platformPlus-left {
            flex: 1;
            text-align: center;
            
            img {
                height: 0.88rem !important;
                width: 0.88rem !important;
            }
        }

        .platformPlus-right {
            flex: 5;
            
            h3 {
                color: #333333;
                font-family: PingFangSC-Medium;
                font-size: 0.32rem;
                line-height: 0.45rem;
            }

            p {
                color: #9094A5;
                text-align: justify;
                margin-top: 5px;
                font-family: PingFangSC-Regular;
                font-size: 0.24rem;
                letter-spacing: 0;
                line-height: 0.40rem;
                width: 5.4rem;
            }
        }
        
    }
}