.raw-html {
    padding: 0em;
    margin: 0em;
    height: 100% !important;
    width: 100% !important;

    .community-section  {
        height: 100%;
        width: 100%;

        .area {
            width: 100%;

            h2 {
                margin-top: 0.8rem;
                margin-bottom: 0.48rem;
                height: 0.56rem;
                color: #333333;
                font-size: 0.4rem;
                font-family: PingFangSC-Medium;
                text-align: center;
            }

            .community-section-container {
                position:relative;

                img {
                    width: 6.86rem !important;
                    height: 4.22rem !important;
                }

                p {
                    color: #FFFFFF;
                    width: 100%;
                    text-align: center;
                }

                .community-section-col {
                    width: 6.86rem !important;
                    height: 4.22rem !important;
                    margin-bottom: 0.4rem !important;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .community-section-col-title {
                    position:absolute;
                    font-family: PingFangSC-Medium;
                    font-size: 0.32rem;
                    margin: 0.8rem 0 0.4rem 0;
                    line-height: 0.45rem;
                }

                .community-section-col-desc {
                    position:absolute;
                    font-family: PingFangSC-Regular;
                    font-size: 0.28rem;
                    margin-top: 1.65rem;
                    text-align: justify;
                    width: 5rem;
                    line-height: 0.4rem;
                }
            }

        }
    }
    
    .community-connect {
        height: 100%;
        width: 100%;
        margin-top: 0.8rem;

        .area {
            
            p {
                color: #333333;
            }

            .community-connect-title {
                font-family: PingFangSC-Medium;
                font-size: 0.4rem;
                line-height: 0.58rem;
                text-align: center;
                margin-bottom: 0.48rem;
            }

            .community-connect-mail {
                font-family: PingFangSC-Regular;
                font-size: 0.32rem;
                letter-spacing: 0;
                text-align: center;
            }
        }
    }
}