@baseFont: 100;
.module-head{
    h3{
        height: 56rem / @baseFont;
        line-height: 56rem / @baseFont;
        margin: 80rem / @baseFont auto 60rem / @baseFont;
        text-align: center;
        font-size: 40rem / @baseFont;
        color: #222;
    }
}