#solution-tabsIndustry {
    >.solution-tabsIndustry-title {
        height: .56rem;
        line-height: .56rem;
        margin: .80rem auto .60rem;
        text-align: center;
        font-size: .40rem;
        color: #222;
    }
    >.solution-tabsIndustry-container {
        >li {
            width: 100%;
            border-bottom: 1px solid #C7D9F5;   
            
            >.solution-tabsIndustry-container-summary {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: .31rem;
                font-family: PingFangSC-Regular;
                font-size: .32rem;
                line-height: 1rem;
                color: #2F88FF;
                letter-spacing: 0;
            }
            >.solution-tabsIndustry-container-content {
                box-shadow: 0 0 .20rem 0 #C7D9F5;
                padding: .4rem .31rem;

                .solution-tabsIndustry-container-content-image {
                    width: 100%;
                }
            }
        }
    }
}