.bussiness-platform {
    margin: 0.5rem auto;

    .platform-top > h3 {
        color: #333333;
        font-size: 0.4rem;
        line-height: 0.56rem;
        text-align: center;
        margin-bottom: 20px;
    }
}