 @import url(/css/Reset.css);
 @import url(/css/Layout.css);
 @import url(/css/icon.css);

html {
  font-size : 100px;
  box-sizing: border-box;
}

@base:7.5;

@media screen and (max-width:360px) {
  html{
    font-size: 320px / @base;
  }
}

@media screen and (min-width:360px) {
  html{
    font-size: 360px / @base;
  }
}
@media screen and (min-width:375px) {
  html{
    font-size: 375px / @base;
  }
}
@media screen and (min-width:384px) {
  html{
    font-size: 384px / @base;
  }
}
@media screen and (min-width:393px) {
  html{
    font-size: 393px / @base;
  }
}
@media screen and (min-width:411px) {
  html{
    font-size: 411px / @base;
  }
}
@media screen and (min-width:414px) {
  html{
    font-size: 414px / @base;
  }
}
@media screen and (min-width:460px) {
  html{
    font-size: 460px / @base;
  }
}
@media screen and (min-width:480px) {
  html{
    font-size: 480px / @base;
  }
}
@media screen and (min-width:600px) {
  html{
    font-size: 600px / @base;
  }
}
@media screen and (min-width:750px) {
  html{
    font-size: 750px / @base;
  }
}

body {
  margin: 0 auto;
  font-family:"-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFangSC-Regular,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif";
  -webkit-font-smoothing     : antialiased;
  -moz-osx-font-smoothing    : grayscale;
  font-size                  : .14rem;
  margin                     : 0 auto;
  min-width                  : 3.2rem;
  width                      : 7.5rem;
  line-height                : 1.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
input:focus,
p:focus,
div:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify        : read-only;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}